<h1><%= @title %></h1>

<table>
  <tr>
    <td>Start Date:</td>
    <td><%= @tournament.get_start_dt %></td>
  </tr>
  <tr>
    <td>End Date:</td>
    <td><%= @tournament.get_end_dt %></td>
  </tr>
</table>

<% if current_user.try(:admin?) %>
    <%= link_to "Edit Tournament", edit_tournament_path %>
    <br/>
    <%= link_to "Delete Tournament", @tournament, :method => :delete, :confirm => "Are you sure?" %>
<% end %>