<navigation>
  <nav class='round'>
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to "Home", user_path(current_user.id) %></li>
      <% end %>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Groups", groups_path %></li>
      <li><%= link_to "Matches", "#" %></li>
      <li><%= link_to "Players", '#' %></li>
      <li><%= link_to "Tournaments", tournaments_path %></li>
      <li><%= link_to "Rules", rules_path %></li>
      <li><%= tournament_selector %></li>
    </ul>
  </nav>
</navigation>