<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render "layouts/stylesheets" %>
  <%= render "layouts/javascripts" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
  <%= render "layouts/header" %>
  <%= link_to banner, root_path %>
  <%= render "layouts/navigation" %>
  <section class="round">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </section>
  <%= render "layouts/footer" %>
  <%= render "layouts/debug" if Rails.env.development? %>
</div>
</body>
</html>
